.commande {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #F6F7FB;
    font-family: $font-3;
    

    .content {


        .card {
            background: white;
            border: 1px solid gray;
            ;
        }
    }
   
}